
/* CUSTOM */
.qv-object-KpiTable .text-orange {
    color: orange;
}

.qv-object-KpiTable .text-fuchsia {
    color: #e542a3;
}

/*-------*/


/* GENERAL */

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.text-success {
    color: rgb(0,176,80);
}

.text-danger {
    color: red;
}

.text-info {
    color: dodgerblue;
}

/* EXTENSION */

.qv-object-KpiTable div.qv-object-content-container {
    overflow: auto;
}

.qv-object-KpiTable button {
    width: 100%;
}

.qv-object-KpiTable .text-group {
    color: midnightblue;
    font-size: 20px;
}

.qv-object-KpiTable .index-group {
    border-color: darkblue;
    background-color: midnightblue;
    color: white;
    width: 15px;
    height: 15px;
    font-size: 12px;
    border-radius: 15px;
    padding: 3px;
    margin: auto;
}
.qv-object-KpiTable .text-primary {
    color: darkblue;
}

.qv-object-KpiTable .text-secodary {
    color: gray;
}

.qv-object-KpiTable .text-title {
    font-size: 14px;
    font-weight: bold;
}

.qv-object-KpiTable .text-subtitle {
    font-size: 10px;
}

.qv-object-KpiTable .text-bold {
    font-weight: bold;
}

.qv-object-KpiTable .bg-white {
    background-color: white !important;
}

.qv-object-KpiTable .chart {
    width: 150px !important;
    height: 40px !important;
    margin: auto;
}

.qv-object-KpiTable .iFrame-Container {
    position: absolute;
    border: none;
    width: 80%;
    height: 100%;
    top: 0;
    left: 50%;
}

    .qv-object-KpiTable .iFrame-Container .iframe {
        position: relative;
        left: -50%;
        width: 100%;
        height: 100%;
    }

/* TABLA */

/*.qv-object-KpiTable td,
.qv-object-KpiTable th {
	border-top: 0px solid #fff;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	cursor: default;
	font-size: 12px;
}*/

.qv-object-KpiTable .table-formated {
    vertical-align: middle;
    color: #494949;
}

    .qv-object-KpiTable .table-formated > thead {
        background-color: midnightblue;
        color: white;
    }

        .qv-object-KpiTable .table-formated > thead > tr {
            height: 40px;
        }

            .qv-object-KpiTable .table-formated > thead > tr > th {
                vertical-align: middle;
                padding: 3px;
            }

    .qv-object-KpiTable .table-formated > tbody > tr > td {
        padding: 3px;
    }

    .qv-object-KpiTable .table-formated > tbody > tr:nth-child(even) {
        background-color: #f2f2f2;
    }

