
/* CUSTOM */
.ticker-color{
	color: #696969;
}
.qv-object-KpiTable .text-type1 {
    font-family: QlikView Sans,sans-serif; !important;
}
.qv-object-KpiTable .text-primary {
    color: darkblue;
}

.qv-object-KpiTable .text-secodary {
    color: gray;
}

.qv-object-KpiTable .text-darkgray {
    color: darkgray;
}

.qv-object-KpiTable .text-dimgray {
    color: dimgray;
}

.qv-object-KpiTable .text-dodgerblue {
    color: dodgerblue;
}

.qv-object-KpiTable .text-red {
    color: RGB(255, 87, 51);
}

.qv-object-KpiTable .text-bold {
    font-weight: bold;
}
.qv-object-KpiTable .text-italic {
    font-style: italic;
}

.qv-object-KpiTable .text-title {
    font-size: 14px !important;
    font-weight: bold !important;
}
.qv-object-KpiTable .text-subtitle {
    font-size: 10px;
}

.qv-object-KpiTable .font-size-8 {
    font-size: 8px;
}
.qv-object-KpiTable .font-size-10 {
    font-size: 10px;
}
.qv-object-KpiTable .font-size-12 {
    font-size: 12px;
}
.qv-object-KpiTable .font-size-14 {
    font-size: 14px;
}
/*-------*/


/* GENERAL */

.qv-object-KpiTable .text-left {
    text-align: left !important;
}

.qv-object-KpiTable .text-center {
    text-align: center !important;
}

.qv-object-KpiTable .text-right {
    text-align: right !important;
}

.qv-object-KpiTable .text-success {
    color: #008000;
}

.qv-object-KpiTable .text-danger {
    color: #D60D2B;
}

.qv-object-KpiTable .text-info {
    color: #67BEE7;
}

/* EXTENSION */

.qv-object-KpiTable div.qv-object-content-container {
    overflow: auto;
}

.qv-object-KpiTable button {
    width: 100%;
}

.qv-object-KpiTable .more {
    color: #0065B2;
    background-color: #F5D328;
}

.qv-object-KpiTable .text-group {
    color: midnightblue;
    font-size: 20px;
}

.qv-object-KpiTable .index-group {
    border-color: darkblue;
    background-color: #0065B2;
    color: white;
    width: 20px;
    height: 20px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 18px;
    padding: 3px;
    margin: auto;
}

.qv-object-KpiTable .index-row {
    border: 1px solid;
    border-color: #0065B2;
    background-color: #0065B2;
    color: #DADCDE;
    width: 15px;
    height: 15px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 15px;
    padding: 2px;
    margin: auto;
}

.qv-object-KpiTable .bg-white {
    background-color: #eaeef1 !important;
}

.qv-object-KpiTable .iFrame-Container {
    position: absolute;
    border: none;
    width: 80%;
    height: 100%;
    top: 0;
    left: 50%;
}

    .qv-object-KpiTable .iFrame-Container .iframe {
        position: relative;
        left: -50%;
        width: 100%;
        height: 100%;
    }

/* TABLA */

/*.qv-object-KpiTable td,
.qv-object-KpiTable th {
	border-top: 0px solid #fff;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	cursor: default;
	font-size: 12px;
}*/

.qv-object-KpiTable .table-formated {
    vertical-align: middle;
    color: #494949;
}

    .qv-object-KpiTable .table-formated > thead {
        background-color: #003366;
        color: #f6f6f7;
    }

        .qv-object-KpiTable .table-formated > thead > tr {
            height: 40px;
        }

            .qv-object-KpiTable .table-formated > thead > tr > th {
                vertical-align: middle;
                padding: 3px;
            }

    .qv-object-KpiTable .table-formated > tbody > tr > td {
        padding: 3px;
    }

    .qv-object-KpiTable .table-formated > tbody > tr:nth-child(even) {
        background-color: #f2f2f2;
    }


@media screen and (max-width: 299px) {
    .loadingIcon {
        font-size: 5em;
    }
}

@media screen and (min-width: 300px) and (max-width: 799px) {
    .loadingIcon {
        font-size: 10em;
    }
}

@media screen and (min-width: 800px) {
    .loadingIcon {
        font-size: 18em;
    }
}