<div qv-extension style="height: 100%; position: relative; overflow: auto;">
    <table class="table-formated">
        <thead>
            <tr>
                <th ng-show="cubeIsGrouped" ng-click="table.headers[1].orderBy()"></th>
                <th ng-repeat="head in table.headers track by $index"
                    ng-show="($index > 1 || ($index > 0 && !cubeIsGrouped)) && !columnConfiguration[$index].isSubtitle"
                    ng-click="head.orderBy()"
                    class="{{columnConfiguration[$index].textAlign}}"
                    ng-style="columnConfiguration[$index].columnSize!='' && {'width':columnConfiguration[$index].columnSize}">
                    {{ table.headers[layout.qHyperCube.qColumnOrder[$index]].qFallbackTitle}}
                </th>
                <th ng-show="layout.props.showChart" class="text-center">
                    Gr&aacute;fica
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat-start="group in cubeGrouped track by $index" ng-init="$groupIndex = $index">
                <td colspan="2" ng-show="group.category != ''" class="bg-white">
                    <span class="text-group">{{group.category}}</span>
                </td>
            </tr>
            <tr ng-repeat="rowIndexAux in group.data track by $index" ng-init="$rowIndex = $index">
                <td rowspan="{{group.data.length}}" ng-show="$rowIndex == 0 && group.category != ''" class="text-center bg-white">
                    <div class="index-group" ng-show="layout.props.showGroupIndex">{{$groupIndex+1}}</div>
                </td>
                <td ng-repeat="cell in table.rows[rowIndexAux].cells track by $index"
                    ng-show="($index > 1 || ($index > 0 && !cubeIsGrouped)) && !columnConfiguration[$index].isSubtitle"
                    class="selectable {{columnConfiguration[$index].textAlign}}"
                    ng-class="{'selected': cell.selected}">
                    <!-- Arrow -->
                    <span ng-show="columnConfiguration[$index].isArrow">
                        <span ng-show="{{cell.qNum > 0}}" class="text-success"><i class="lui-icon lui-icon--triangle-top" style="font-size:25px;"></i></span>
                        <span ng-show="{{cell.qNum < 0}}" class="text-danger"><i class="lui-icon lui-icon--triangle-bottom" style="font-size:25px;"></i></span>
                    </span><!-- Arrow End -->
                    <span ng-show="!columnConfiguration[$index].isArrow">
                        <!-- Cell -->
                        <span>
                            <span class="{{columnConfiguration[$index].textClass}}" ng-show="!columnConfiguration[$index].isIconClass">
                                <span ng-click="$index == 2 && GoUrl(table.rows[rowIndexAux].cells[0].qText)">
                                    {{cell.qText}}
                                </span>
                            </span>
                            <span class="{{columnConfiguration[$index].textClass}}" ng-show="columnConfiguration[$index].isIconClass">
                                <i class="{{cell.qText}}"></i>
                            </span>
                        </span><!-- Cell End -->
                        <i class="{{columnConfiguration[$index].iconClass}}"></i>
                        <i class="lui-icon lui-icon--help text-info" ng-click="ShowFrame(table.rows[rowIndexAux].cells[0].qText)" ng-show="columnConfiguration[$index].showHelpIcon"></i>
                        <!-- Subtitle -->
                        <span ng-show="$index==2">
                            <br />
                            <span ng-repeat="subtitle in table.rows[rowIndexAux].cells" 
                                  class="{{columnConfiguration[$index].textClass}} text-subtitle"
                                  ng-show="columnConfiguration[$index].isSubtitle">
                                {{subtitle.qText}}
                            </span>
                        </span><!-- Subtitle End -->
                    </span>
                </td>
                <td ng-show="layout.props.showChart" class="text-center">
                    <div ng-style="{'height':layout.props.chartHeight,'width':layout.props.chartWidth}" style="margin:auto">
                        <canvas id="{{ 'chart-' + table.rows[rowIndexAux].cells[0].qText }}"
                                class="chart"
                                ng-click="GoUrl(table.rows[rowIndexAux].cells[0].qText)"></canvas>
                    </div>
                </td>
            </tr>
            <tr ng-repeat-end></tr>
        </tbody>
    </table>
    <button ng-if="table.rowCount>table.rows.length" ng-click="table.getMoreData()" class="lui-button more">More...</button>
    <!-- iFrame -->
    <div ng-show="sFrame" style="position:absolute;border:none;width:80%;height:100%;top:0;left:50%;">
        <div style="position:relative;left:-50%;width:100%;height:100%;">
            <button class="lui-button lui-button--success" ng-click="sFrame=false">
                <i class="lui-icon lui-icon--close"></i>
            </button>
            <iframe ng-src='{{idk}}' style='border:1px solid;width:100%;height:100%;'></iframe>
        </div>
    </div><!-- iFrame End-->
</div>