<div id="kpitable-container" qv-extension style="height: 100%; width:100%; position: relative; overflow: auto;">
    <div id="table-container">
        <table id="maintable" class="table-formated">
            <thead>
                <tr>
                    <th ng-show="cubeIsGrouped && layout.props.showGroupIndex" ng-click="table.headers[1].orderBy()"></th>
                    <th ng-show="layout.props.showRowIndex"></th>
                    <th ng-show="layout.props.showHelpIcon"></th>
                    <th ng-repeat="head in table.headers track by $index"
                        ng-show="($index > 1 || ($index > 0 && !cubeIsGrouped)) && !columnConfiguration[$index].isSubtitle"
                        ng-click="head.orderBy()"
                        class="{{columnConfiguration[$index].textAlign}} text-type1"
                        ng-style="columnConfiguration[$index].columnSize!='' && {'width':columnConfiguration[$index].columnSize}"
                        style="font-size: {{layout.props.headerSize}}">
                        {{ table.headers[layout.qHyperCube.qColumnOrder[$index]].qFallbackTitle}}
                    </th>
                    <th ng-show="layout.props.showChart" class="text-center text-type1" style="font-size: {{layout.props.headerSize}}">
                        Gr&aacute;fica
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="group in cubeGrouped track by $index" ng-init="$groupIndex = $index">
                    <td colspan="{{3+(layout.props.showGroupIndex ? 1:0)+(layout.props.showHelpIcon ? 1:0)}}" ng-show="group.category != ''" class="{{columnConfiguration[1].textClass}} bg-white">
                        <span class="text-group text-type1">{{group.category}}</span>
                    </td>
                </tr>
                <tr ng-repeat="rowAux in group.data track by $index" ng-init="$rowIndex = $index">
                    <td rowspan="{{group.data.length}}" ng-show="$rowIndex == 0 && group.category != '' && layout.props.showGroupIndex" class="text-center bg-white" style="max-width:25px !important;">
                        <div class="index-group">{{$groupIndex+1}}</div>
                    </td>
                    <td class="text-center" ng-show="layout.props.showRowIndex" style="max-width:20px !important;">
                        <div class="index-row">{{group.idxAux[$rowIndex]+1}}</div>
                    </td>
                    <td class="text-right" ng-show="layout.props.showHelpIcon" style="max-width:10px !important;">
                        <i class="lui-icon lui-icon--help text-info" ng-click="ShowFrame(table.rows[rowAux.index].cells[0].qText)"></i>
                    </td>
                    <td ng-repeat="cell in table.rows[rowAux.index].cells track by $index"
                        ng-show="($index > 1 || ($index > 0 && !cubeIsGrouped)) && !columnConfiguration[$index].isSubtitle"
                        class="selectable {{columnConfiguration[$index].textAlign}} text-type1"
                        ng-class="{'selected': cell.selected}">
                        <!-- Cell -->
                        <span class="{{columnConfiguration[$index].textClass}} {{rowAux.item[$index].qAttrExps.qValues[0].qText}}">
                            <span ng-show="columnConfiguration[$index].type==0 || columnConfiguration[$index].type==null"
                                  ng-click="$index == 2 && GoUrl(table.rows[rowAux.index].cells[0].qText)"
                                  ng-style="{'font-size':(columnConfiguration[$index].textSize ? columnConfiguration[$index].textSize : layout.props.textSize)}">
                                {{cell.qText}}
                            </span>
                            <span ng-show="columnConfiguration[$index].type==1"
                                  ng-bind-html="cell.qText">
                            </span>
                            <span ng-show="columnConfiguration[$index].type==2">
                                <i class="{{cell.qText}}"></i>
                            </span>
                            <i class="{{columnConfiguration[$index].iconClass}}"></i>
                        </span><!-- Cell End -->
                        <!-- Subtitle -->
                        <span ng-show="$index==2">
                            <br />
                            <span ng-repeat="subtitle in table.rows[rowAux.index].cells"
                                  class="{{columnConfiguration[$index].textClass}} text-subtitle text-type1"
                                  ng-show="columnConfiguration[$index].isSubtitle">
                                <span ng-show="columnConfiguration[$index].type==0 || columnConfiguration[$index].type==null"
                                      style="font-size: {{columnConfiguration[$index].textSize}}">
                                    {{subtitle.qText}}
                                </span>
                                <span ng-show="columnConfiguration[$index].type==1"
                                      ng-bind-html="cell.qText">
                                </span>
                                <span ng-show="columnConfiguration[$index].type==2">
                                    <i class="{{cell.qText}}"></i>
                                </span>
                            </span>
                        </span><!-- Subtitle End -->
                    </td>
                    <td ng-show="layout.props.showChart" class="text-center">
                        <div ng-style="{'height':layout.props.chartHeight,'width':layout.props.chartWidth}" style="margin:auto">
                            <canvas id="{{ 'chart-' + table.rows[rowAux.index].cells[0].qText }}"
                                    ng-click="GoUrl(table.rows[rowAux.index].cells[0].qText)" style="width:100%;height:100%"></canvas>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat-end></tr>
            </tbody>
        </table>
        <div id="bottom_anchor"></div>
        <button ng-if="table.rowCount>table.rows.length" ng-click="GetMoreData(table)" class="lui-button more">
            Mostrar m&aacute;s...
            <i ng-show="loading" class="fas fa-spinner fa-lg fa-spin"></i>
        </button>
        <!-- iFrame -->
        <div id="iframe" ng-show="sFrame" style="position:absolute;border:none;width:99%;height:85%;top:0;left:50%;">
            <div style="position:relative;left:-50%;width:100%;height:100%;">
                <button class="lui-button lui-button--success" ng-click="sFrame=false">
                    <i class="lui-icon lui-icon--close"></i>
                </button>
                <div style="border:1px solid black;height:100%;width:100%;margin:auto;background-color: white">
                    <div style="height:35%;width:100%">
                        <div style="float:left;height:50%;width:60%;">
                            <div id="{{'QV01'+layout.qInfo.qId}}" style="float:left;width:30%;height:40%;"></div>
                            <div id="{{'QV02'+layout.qInfo.qId}}" style="float:left;width:100%;height:100%;"></div>
                            <div id="{{'QV03'+layout.qInfo.qId}}" style="float:left;width:100%;height:100%;"></div>
                        </div>
                        <div id="{{'QV04'+layout.qInfo.qId}}" style="float:left;width:40%;height:100%;"></div>
                    </div>
                    <div style="height:32.5%;width:100%">
                        <div style="height:100%;width:30%;float:left;">
                            <div id="{{'QV05'+layout.qInfo.qId}}" style="width:100%;height:33.33%;"></div>
                            <div id="{{'QV19'+layout.qInfo.qId}}" style="width:100%;height:33.33%;"></div>
                            <div id="{{'QV06'+layout.qInfo.qId}}" style="width:100%;height:33.33%;"></div>
                        </div>
                        <div style="height:100%;width:30%;float:left;">
                            <div style="height:100%;width:50%;float:left;">
                                <div id="{{'QV07'+layout.qInfo.qId}}" style="width:100%;height:33.33%;"></div>
                                <div id="{{'QV08'+layout.qInfo.qId}}" style="width:100%;height:33.33%;"></div>
                                <div id="{{'QV09'+layout.qInfo.qId}}" style="width:100%;height:33.33%;"></div>
                            </div>
                            <div style="height:100%;width:50%;float:left;">
                                <div style="width:100%;height:33.33%;"></div>
                                <div id="{{'QV11'+layout.qInfo.qId}}" style="width:100%;height:33.33%;"></div>
                                <div id="{{'QV12'+layout.qInfo.qId}}" style="width:100%;height:33.33%;"></div>
                            </div>
                        </div>
                        <div style="height:100%;width:40%;float:left;">
                            <div id="{{'QV13'+layout.qInfo.qId}}" style="width:100%;height:100%;"></div>
                        </div>
                    </div>
                    <div style="height:32.5%;width:100%">
                        <div style="height:50%;width:60%;float:left;">
                            <div id="{{'QV14'+layout.qInfo.qId}}" style="float:left;width:50%;height:100%;"></div>
                            <div id="{{'QV15'+layout.qInfo.qId}}" style="float:left;width:25%;height:100%;"></div>
                            <div id="{{'QV16'+layout.qInfo.qId}}" style="float:left;width:25%;height:100%;"></div>
                            <div id="{{'QV17'+layout.qInfo.qId}}" style="float:left;width:100%;height:100%;"></div>
                        </div>
                        <div style="height:100%;width:40%;float:left;">
                            <div id="{{'QV18'+layout.qInfo.qId}}" style="float:left;width:100%;height:100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- iFrame End-->
    </div>
</div>
<div ng-show="loading" style="width:100%;height:100%;position:absolute;top:0px;left:0;z-index:9999;background-color: rgba(0,0,0,.2)" class="text-center">
    <div style="position:relative;top:40%;">
        <i class="fas fa-spinner fa-spin loadingIcon"></i>
    </div>
</div>

<script>
    $(document).ready(function () {
        function moveScroll() {
            var containerTop = $("#kpitable-container").offset().top;
            var scroll = $("#kpitable-container").scrollTop();
            var anchor_top = $("#maintable").offset().top;
            var anchor_bottom = $("#bottom_anchor").offset().top;
            //console.log(scroll, anchor_top, anchor_bottom);
            //console.log($("#maintable").width(), $("#clone").width());
            if ($("#maintable").width() != $("#clone").width()) {
                $("#clone").remove();
            }
            if (scroll + containerTop > anchor_top) {
                clone_table = $("#clone");
                if (clone_table.length == 0) {
                    clone_table = $("#maintable").clone();
                    clone_table.attr('id', 'clone');
                    clone_table.css({
                        position: 'fixed',
                        'pointer-events': 'none',
                        top: containerTop
                    });
                    clone_table.width($("#maintable").width());
                    $("#table-container").append(clone_table);
                    $("#clone").css({ visibility: 'hidden' });
                    $("#clone thead").css({ visibility: 'visible' });
                }
            } else {
                $("#clone").remove();
            }
            $("#iframe").css({
                position: 'fixed',
                top: containerTop,
                left: '50%',
                'z-index': 9999
            }).width($("#maintable").width());
        }
        $("#kpitable-container").scroll(moveScroll);

        $(window).resize(function () {
            $("#clone").remove();
        });

        // Is not working :(
        $("#table-container").resize(function () {
            console.log("entra1");
            $("#clone").remove();
        });
        // Is not working :(
        example = document.getElementById('table-container');
        example.addEventListener('onresize', function () {
            console.log("entra2");
            $("#clone").remove();
        });
    });
</script>